<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>username</th>
        <th>email</th>
        <th>city</th>
        <th>lat/lng</th>
        <th>Company Name</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name | uppercase }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address.city }}</td>
        <td>{{ user.address.geo.lat }} / {{ user.address.geo.lng }}</td>
        <td>{{ user.company.name }}</td>
        <td>http://{{ user.website }}</td>
      </tr>
    </tbody>
  </table>
</div>